################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/codecracker.cs/.vs/codecracker.cs/v15/Server/sqlite3
/war_card_game.cs/.vs/war_card_game.cs/v15/Server/sqlite3
